:root{
   --primary: #9155ce;
   --primary-500: #9155ce;
   --primary-h: 270;
   --primary-s: 55%;
   --primary-l: 57;
   --primary-text-foreground: #ffffff;
   --primary-600: hsl(var(--primary-h), var(--primary-s), 39.46153846153846%);
   --primary-700: hsl(var(--primary-h), var(--primary-s), 30.69230769230769%);
   --primary-800: hsl(var(--primary-h), var(--primary-s), 21.92307692307692%);
   --primary-900: hsl(var(--primary-h), var(--primary-s), 13.153846153846146%);
   --primary-950: hsl(var(--primary-h), var(--primary-s), 4.38461538461538%);
   --primary-400: hsl(var(--primary-h), var(--primary-s), 70.23076923076923%);
   --primary-300: hsl(var(--primary-h), var(--primary-s), 76.84615384615384%);
   --primary-200: hsl(var(--primary-h), var(--primary-s), 83.46153846153845%);
   --primary-100: hsl(var(--primary-h), var(--primary-s), 90.07692307692307%);
   --primary-50: hsl(var(--primary-h), var(--primary-s), 96.6923076923077%);

   --secondary: #2f4e64;
   --secondary-500: #2f4e64;
   --secondary-h: 205;
   --secondary-s: 36%;
   --secondary-l: 29;
   --secondary-text-foreground: #000;
   --secondary-600: hsl(var(--secondary-h), var(--secondary-s), 20.076923076923077%);
   --secondary-700: hsl(var(--secondary-h), var(--secondary-s), 15.615384615384615%);
   --secondary-800: hsl(var(--secondary-h), var(--secondary-s), 11.153846153846153%);
   --secondary-900: hsl(var(--secondary-h), var(--secondary-s), 6.692307692307693%);
   --secondary-950: hsl(var(--secondary-h), var(--secondary-s), 2.23076923076923%);
   --secondary-400: hsl(var(--secondary-h), var(--secondary-s), 50.84615384615385%);
   --secondary-300: hsl(var(--secondary-h), var(--secondary-s), 61.769230769230774%);
   --secondary-200: hsl(var(--secondary-h), var(--secondary-s), 72.6923076923077%);
   --secondary-100: hsl(var(--secondary-h), var(--secondary-s), 83.61538461538461%);
   --secondary-50: hsl(var(--secondary-h), var(--secondary-s), 94.53846153846155%);

   --accent: #ca3f85;
   --accent-500: #ca3f85;
   --accent-h: 330;
   --accent-s: 57%;
   --accent-l: 52;
   --accent-text-foreground: #ffffff;
   --accent-600: hsl(var(--accent-h), var(--accent-s), 36%);
   --accent-700: hsl(var(--accent-h), var(--accent-s), 28%);
   --accent-800: hsl(var(--accent-h), var(--accent-s), 20%);
   --accent-900: hsl(var(--accent-h), var(--accent-s), 12%);
   --accent-950: hsl(var(--accent-h), var(--accent-s), 4%);
   --accent-400: hsl(var(--accent-h), var(--accent-s), 66.76923076923077%);
   --accent-300: hsl(var(--accent-h), var(--accent-s), 74.15384615384616%);
   --accent-200: hsl(var(--accent-h), var(--accent-s), 81.53846153846155%);
   --accent-100: hsl(var(--accent-h), var(--accent-s), 88.92307692307693%);
   --accent-50: hsl(var(--accent-h), var(--accent-s), 96.3076923076923%);

   --gray: #808080;
   --gray-500: #808080;
   --gray-h: 0;
   --gray-s: 0%;
   --gray-l: 50;
   --gray-text-foreground: #ffffff;
   --gray-600: hsl(var(--gray-h), var(--gray-s), 34.61538461538461%);
   --gray-700: hsl(var(--gray-h), var(--gray-s), 26.923076923076923%);
   --gray-800: hsl(var(--gray-h), var(--gray-s), 19.23076923076923%);
   --gray-900: hsl(var(--gray-h), var(--gray-s), 11.53846153846154%);
   --gray-950: hsl(var(--gray-h), var(--gray-s), 3.8461538461538467%);
   --gray-400: hsl(var(--gray-h), var(--gray-s), 65.38461538461539%);
   --gray-300: hsl(var(--gray-h), var(--gray-s), 73.07692307692308%);
   --gray-200: hsl(var(--gray-h), var(--gray-s), 80.76923076923077%);
   --gray-100: hsl(var(--gray-h), var(--gray-s), 88.46153846153845%);
   --gray-50: hsl(var(--gray-h), var(--gray-s), 96.15384615384616%);

   --success: #51cc48;
   --success-500: #51cc48;
   --success-h: 116;
   --success-s: 56%;
   --success-l: 54;
   --success-text-foreground: #ffffff;
   --success-600: hsl(var(--success-h), var(--success-s), 37.38461538461539%);
   --success-700: hsl(var(--success-h), var(--success-s), 29.076923076923073%);
   --success-800: hsl(var(--success-h), var(--success-s), 20.769230769230766%);
   --success-900: hsl(var(--success-h), var(--success-s), 12.46153846153846%);
   --success-950: hsl(var(--success-h), var(--success-s), 4.153846153846146%);
   --success-400: hsl(var(--success-h), var(--success-s), 68.15384615384616%);
   --success-300: hsl(var(--success-h), var(--success-s), 75.23076923076923%);
   --success-200: hsl(var(--success-h), var(--success-s), 82.3076923076923%);
   --success-100: hsl(var(--success-h), var(--success-s), 89.38461538461539%);
   --success-50: hsl(var(--success-h), var(--success-s), 96.46153846153845%);

   --warning: #ffc46d;
   --warning-500: #ffc46d;
   --warning-h: 36;
   --warning-s: 100%;
   --warning-l: 71;
   --warning-text-foreground: #ffffff;
   --warning-600: hsl(var(--warning-h), var(--warning-s), 49.15384615384615%);
   --warning-700: hsl(var(--warning-h), var(--warning-s), 38.230769230769226%);
   --warning-800: hsl(var(--warning-h), var(--warning-s), 27.307692307692307%);
   --warning-900: hsl(var(--warning-h), var(--warning-s), 16.384615384615387%);
   --warning-950: hsl(var(--warning-h), var(--warning-s), 5.461538461538453%);
   --warning-400: hsl(var(--warning-h), var(--warning-s), 79.92307692307692%);
   --warning-300: hsl(var(--warning-h), var(--warning-s), 84.38461538461539%);
   --warning-200: hsl(var(--warning-h), var(--warning-s), 88.84615384615384%);
   --warning-100: hsl(var(--warning-h), var(--warning-s), 93.3076923076923%);
   --warning-50: hsl(var(--warning-h), var(--warning-s), 97.76923076923077%);

   --error: #F04F44;
   --error-500: #F04F44;
   --error-h: 4;
   --error-s: 85%;
   --error-l: 60;
   --error-text-foreground: #ffffff;
   --error-600: hsl(var(--error-h), var(--error-s), 41.53846153846154%);
   --error-700: hsl(var(--error-h), var(--error-s), 32.30769230769231%);
   --error-800: hsl(var(--error-h), var(--error-s), 23.07692307692308%);
   --error-900: hsl(var(--error-h), var(--error-s), 13.846153846153854%);
   --error-950: hsl(var(--error-h), var(--error-s), 4.61538461538462%);
   --error-400: hsl(var(--error-h), var(--error-s), 72.3076923076923%);
   --error-300: hsl(var(--error-h), var(--error-s), 78.46153846153847%);
   --error-200: hsl(var(--error-h), var(--error-s), 84.61538461538461%);
   --error-100: hsl(var(--error-h), var(--error-s), 90.76923076923077%);
   --error-50: hsl(var(--error-h), var(--error-s), 96.92307692307693%);

};
